*.lib
*.pyc
*.tmp
dev/*
bin/*
Source/generated/
.vs
build
Build
/Source/.antlr/azslLexer.interp
/Source/.antlr/azslLexer.java
/Source/.antlr/azslLexer.tokens
/Source/.antlr/azslParser.interp
/Source/.antlr/azslParser.java
/Source/.antlr/azslParser.tokens
/Tests/testfuncs.pyc

.idea/
cmake-build*/
dist/
